
header{
    background-color: #ffffff;
    border-color: #cccccc;
}
aboutme{
border-color: #dddddd;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-color: #4aaaa5;
    color: #777777;
}

ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
    background-color: #333;
}
.contact-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}
.card__title {
    font-size: 2rem;
    padding: .5rem;
}
.card__description {
    padding: .5rem;
    line-height: 1.6em;
}
.button {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-column: .5rem;
    padding: 1rem;
    overflow: auto;
}
.card__thumbnail{
    grid-auto-flow: column;
}
@media screen {
    max-width: 980px;
}
@media screen {
    max-width: 768px;
}
@media screen {
    max-width: 640px;
}

